/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-mar-2016, 8:58:32
    Author     : lauricdd
*/

@font-face { 
    font-family: 'champagne Limousines'; 
    src: url('../font/champagne_limousines/Champagne&Limousines.ttf'); 
}

@font-face { 
    font-family: 'Honey'; 
    src: url('../font/honey_script/HoneyScript-Light.ttf'); 
}

body{
    /*background: url("../img/textura.png") no-repeat;
    background-size: 1430px auto;*/
    background-color: green;
    background-image: url("../img/textura.png");
    background-size: cover;
    display: block;
    font-weight: lighter;
} 

#utb_logo{
    width: 100%;
}

/** Navbar***/
a.active, a.active:hover{
    background-color: #e95d00;
    border: none;
}

nav ul li{
    font-family: 'champagne Limousines';
}

nav{
    background-color: #044f43;
}

.nav-wrapper{
    padding: 0 40px;
}

/* Logo */
.brand-logo{
    text-shadow: 2px 2px #ee4210;
    font-family: 'Honey';
}

nav .brand-logo {
    font-size: 3.1rem;
}
/* Logo */

.collapsible-header {
    border: none;
    background-color: #044f43;
}
/** Nav li ***/

/***Card panel***/
.card-panel {
    background-color: #efefef;
    /*background-image: url("../img/textura.png");
    background-size: 1430px 750px;*/
    padding: 0;
    font-family: 'champagne Limousines'; 
}

/*div.card-panel{
    margin-bottom: 0;
}*/

h1{
    text-align: left;
    margin: 0 0 5px 0;
}

#titulo{
    background-color: #044f43;
    padding-left: 60px;
}

.collection-item{
    margin: 3% 5%;
    width: 90%;
    background-color: #e0e0e0;
    padding: 10px;
    
}

.collection-item a{
    color: #8e8e8e;
}

.collection-item span{
    margin-bottom: 0;
}

.collection-item p{
    margin-top: 0;
}

/*.name{
    background-color: #e0e0e0;
}*/

.name a{
    color: #6f6f6f;
}

.button{
    margin-top: 2px;
    text-transform: none;
}
/***Card panel***/

/*#profesor{
    margin-top: 0;
    background-color: transparent;
}*/

/**** Sticky footer ****/
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -170px; 
}
.page-wrap:after {
    content: "";
    display: block;
}
.page-footer, .page-wrap:after {
    height: 170px; 
}
footer.page-footer {
    background: #044f43;
    margin-top: 0;
    padding-top: 0;
    color: white;
}
/**** Sticky footer ****/

/*** Footer ***/
footer.page-footer #credits{
    padding: 30px 100px 0;
}

footer.page-footer #logo_footer{
    padding: 30px 0 0 100px; 
}

#credits p{
    font-size: 0.8em;
    margin-top: 2%;
}
/*** Footer ***/

@media (max-width:459px) {
    .card-panel{
        margin: 5% 0;
        border: 5px solid #043a30;
    }
    
    h1{
        font-size: 2.7em;
    }
    
    .button{
        padding: 0;
    }
    
    #profesor{
        margin: 5% 0;
    }
}

@media (min-width: 460px) and (max-width : 767px){
    /** Card panel ***/
    .card-panel{
        margin: 5% 0;
        border: 5px solid #043a30;
    }
    
    #logo{
        font-size: 4em;
    }
    
    h1{
        font-size: 2.7em;
    }
    /** Card panel ***/
    
    #profesor{
        margin: 5% 0;
    }
}    

@media (min-width :768px) and (max-width : 992px) {
    /** Card panel ***/
    .card-panel{
        margin: 10% 0;
        border: 12px solid #043a30;
    }
    
    #logo{
        font-size: 4em;
    }
    
    h1{
        font-size: 3.6em;
    }
    /** Card panel ***/
    
    #profesor{
        margin: 10% 0;
    }
}

@media (min-width:993px) {
    nav li a{
        font-size: 1.6em;
    }
    
    /** Card panel ***/
    .card-panel{
        margin: 6% 12.5%;
        width: 75%;
        border: 15px solid #043a30;
    }
    
    #logo{
        font-size: 5em;
    }
    
    h1{
        font-size: 4em;
    }
    
    #name{
        font-size: 1.2em;
    }
    
    .collection-item{
        font-size: 1.4em;
    }
    /** Card panel ***/
    
    #profesor{
        margin: 6% 12.5%;
        width: 75%;
    }
    
    
}
